.page.type-page header.entry-header {
    display: none;
}
.page.type-page .entry-content > p:first-child {
    display: none;
}
.single .post.type-post header.entry-header {
    margin-top: 0;
}
.single .post.type-post header.entry-header .entry-title {
    display: none;
}
.home.page header.entry-header {
    display: none;
}